* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
}

body {
  background-color: hsl(185, 41%, 84%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.parent_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  width: 70%;
  border-radius: 1.6rem;
  background-color: white;
}

/* BILL */
.user-input,
.bill,
.tip,
.people,
.calculations,
.tip-amount,
.total-person {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
}

#bill-input,
#total-people {
  padding: 0.5rem;
  text-align: right;
  font-size: 1.2rem;
  border: none;
  width: 87%;
}

.bill,
.people {
  position: relative;
  text-align: left;
}

.bill i {
  position: absolute;
  top: 75%;
  left: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

/* TIP */
.tip {
  gap: 1rem;
}

.tip div {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

button {
  padding: 0.5rem 3rem;
  width: 40%;
  font-size: 1.2rem;
  border: none;
  text-align: center;
}

#custom-tip {
  text-align: center;
  width: 40%;
  border: none;
  font-size: 1.2rem;
}

/* PEOPLE */
.people i {
  position: absolute;
  top: 75%;
  left: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}
