* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  letter-spacing: 0.5rem;
  color: hsl(183, 100%, 15%);
  opacity: 80%;
}
html{
  overflow-y: scroll;
}
html, .tips, #custom-tip, input, #reset{
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(185, 41%, 84%);
}
input {
  color: hsl(183, 100%, 15%);
}
input:focus {
  box-shadow: 0 0 1rem hsl(172, 67%, 45%);
  outline: none;
}
.tips:hover {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}
#custom-tip:hover {
  background-color: hsl(185, 41%, 84%);
}
.errors {
  display: flex;
  gap: 2rem;
}
#errors {
  display: flex;
  gap: 6rem;
}
.error-message {
  color: red;
  display: none;
}
.parent_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  max-width: 90%;
  border-radius: 1.6rem;
  background-color: hsl(0, 0%, 100%);
}
.user-input {
  max-width: 30rem;
}
.user-input,
.bill,
.tip,
.people,
.calculations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
#bill-input,
#total-people {
  padding: 0.5rem 2rem;
  text-align: right;
  font-size: 1.5rem;
  border: none;
  max-width: 76%;
  background-color: hsl(189, 41%, 97%);
}
.bill,
.people {
  position: relative;
  text-align: left;
}
.bill i {
  position: absolute;
  top: 75%;
  left: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}
.tip {
  gap: 1rem;
}
.tip div {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.tips {
  display: flex;
  justify-content: center;
  padding: 0.5rem 4.2rem;
  width: 23%;
  font-size: 1.5rem;
  border-radius: 0.3rem;
  border: none;
  text-align: center;
  color: hsl(189, 41%, 97%);
  background-color: hsl(183, 100%, 15%);
}
#custom-tip {
  padding: 0.5rem 1rem;
  text-align: center;
  width: 24%;
  border-radius: 0.3rem;
  border: none;
  font-size: 1.35rem;
}
::placeholder {
  color: hsl(186, 14%, 43%);
}
.people i {
  position: absolute;
  top: 75%;
  left: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}
#opacity {
  color: hsl(186, 14%, 43%);
}
.calculations {
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 19rem;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 2rem;
  background-color: hsl(183, 100%, 15%);
}
.calculations p {
  color: hsl(0, 0%, 100%);
}
.tip-amount,
.total-person {
  display: flex;
  align-items: center;
}
.tip-amount {
  gap: 6.2rem;
}
.total-person {
  gap: 7.5rem;
}
#per {
  color: hsl(184, 14%, 56%);
  font-size: 0.9rem;
}
#amount1,
#amount2 {
  font-size: 2rem;
  color: hsl(172, 67%, 45%);
}
#reset {
  padding: 0.5rem 7rem;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  border: none;
  text-align: center;
  margin-top: 2rem;
  color: hsl(183, 100%, 15%);
  background-color: hsl(172, 67%, 45%);
}
#reset:hover {
  background-color: hsl(189, 41%, 97%);
}